
/*Configurações gerais */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
fieldset{
  margin: 10px auto;
  padding: 30px;
  border: 2px solid rgb(131, 130, 130);
  max-width: 1000px;

}
legend{
  font-weight: 600;
  color: rgb(66, 66, 66);
  font-size: 20px;
}

label{
  /*Por padrão o elemento label é Inline, temos que transformar em display block*/

  display: block;
  cursor: pointer;
}
input {
  margin-bottom: 25px;
  outline: none;
  border-radius: 4px;
  height: 25px;
  padding-left: 5px;
  width: 250px;
}

input.radio, input.checkbox, input.submit{
  width: 30px;
  
  
}

/*Configurando a div que guarda os input*/

.container-input{
 
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.container-input .buttom button{
  padding: 5px 10px;
  color: black;
  background: #fff;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 50px;

}

.container-input .blc-comentarios{
  margin-top:35px
}

.container-input .blc-comentarios label{
  margin-bottom: 5px;
  color: rgb(133, 26, 26);
}

.container-input .blc-comentarios textarea{
  padding-left: 5px;
  max-width: 450px;
  max-height: 300px
}

.container-input input[type="checkbox"]{
  margin-right: 10px;

}