:root{
  --dark:#1B1F27;
  --dark2:#181928;
  --dark3:#252A34;
  --clean:#cbd0f7;
  --blue:#5568fe;
  
}
body{
  background: var(--dark);
  font-family: 'lato';
  overflow: hidden; /*Esconder a barra de navegação ...*/

}
#area-login{/*Container pai */
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
justify-content: center;
align-items: center;


}

.login{/*Container filho que vai guardar o logo e formulário e botões...*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--dark2);
  width: 355px;
  height: 320px;
  padding: 2rem;
  border-radius: 8px;


}
.login form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login input{
  margin-top: 1rem;
  background: var(--dark3);
  border: none;
  height: 32px;
  outline: none;
  border-radius: 8px;
  color:var(--clean) ;
  padding-left: 12px;

}
input::placeholder{
  color:var(--clean);
  font-size: 15px;
}
.login img{
  width: 60px;
  height: auto;

}
#btn{
  display: block;
  background: var(--blue);
  font-size: 19px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
p{
  color: var(--clean);
}
p a{
  color: var(--blue);
  text-decoration: none;
  margin-left: 8px;
  

}